.admin_menu {
    display: flex;
    justify-content: center;
}

.admin_btn {
margin-bottom: 0.5em;
}

// .admin_content {
//     display: flex;
//     align-content: center;
// }

.text_welcome_admin{
    display: flex;
    justify-content: center;
}

// .admin_card{
    
// }